*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#maven
pom.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

# nodejs files
*/view/node_modules/
*/view/package-lock.json
*/view/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# java
.project
.settings
.classpath
.factorypath

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# vue.js build
*/src/main/resources/view/
*/target/
target/

.idea/
*.iml

!.pack/*
