<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="stdout"/>
  </root>

  <logger name="lee.study.down" level="DEBUG"/>
</configuration>